
HTTP_PORT=8080
APP_ENV=development
SHUTDOWN_TIMEOUT=15s


# DATABASE_URL=postgres://wager:wager@localhost:5432/wager_ledger?sslmode=disable

# AWS_REGION=us-east-1
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
# SQS_ENDPOINT=http://localhost:4566
# SQS_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
# SQS_DLQ_URL=http://localhost:4566/000000000000/wager-transactions-dlq.fifo


# OIDC_ISSUER_URL=http://localhost:8081/realms/wager-ledger
# OIDC_JWKS_URL=http://localhost:8081/realms/wager-ledger/protocol/openid-connect/certs